MILVUS_COLLECTION_NAME="gesco951"
MILVUS_CONNECTION_URI=http://localhost:19530
OPENAI_EMBEDDINGS_MODEL=text-embedding-3-large
CHUNK_RETRIEVAL_ALGORITHM=mmr
NUM_CHUNKS_RETRIEVED=30
MMR_LAMBDA_MULT=0.99
NUM_CHUNKS_TO_MMR=100

OPENAI_API_KEY=<OpenAI API KEY>